<appSettings>
	<add key="ida:AppID" value="1696313d-53c6-4e95-8c03-3b246ec22be0" />
	<add key="ida:AppSecret" value="hmU8Q~Jb3QuJQs3q9BgjQ4RDNNuRidM5uceDMbF~" />
	<add key="ida:TenantId" value="ceed6e67-2add-4340-b977-fbf8340630c9"/>
	<add key="ida:RedirectUri" value="https://localhost:44387/" />
	<add key="ida:AppScopes" value="User.Read Printer.Read.All PrinterShare.ReadBasic.All PrintJob.ReadWrite" />
</appSettings>
